@import "./style"; /*Импортирование другого файла со стилями*/
$colorG: #eaeaea; /*Создание переменной*/

.container{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    .h1{
        font-size: 50px;
        margin: 50px 0 0 0;
    }
    .linkButton{
        background: #9e0000;
        color: #fff;
        padding: 15px;
        margin: 200px 50px 0 50px;
        display: inline-block;
    }
    .returnButton{
        background: #9e0000;
        color: #fff;
        position: absolute;
        top: 100px;
        left: 100px;
        padding: 15px;
    }
}
body{
    background: $colorG
}
@include form(); /*Импортирование части стилей*/